@import url(https://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext);
@import 'reset';

@mixin breakpoint ($point) {
    @if $point == small {
        @media (max-width: 768px) {@content;}
    }
    @else if $point == medium {
        @media (min-width: 992px) and (max-width: 1199px) {@content;}
    }
}

$font: "Montserrat", sans-serif;
$margin-center: 0 auto;
$background-color: #000;
$text-color: #fff;
$full-width: 100%;
$full-height: 100%;

.page {
    font-family: $font;
}

.container {
    @include breakpoint(small) {
        width: $full-width;
        text-align: center;
        margin: 0;
    }
    margin: $margin-center;
    max-width: 1920px;
    width: $full-width;
    background-color: $background-color;

    .menu_logo {
        margin: 20px;
        cursor: pointer;
    }

    .menu {
        @include breakpoint(small) {
            float: none;
        }
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.head {
    margin: $margin-center;
    width: $full-width;
    background-color: $background-color;
}

.menu_item {
    @include breakpoint(small) {
        display: block;
        margin: 0;
        padding-bottom: 10px;
    }
    @include breakpoint(medium) {
        margin: 25px 10px;
    }
    display: inline-block;
    margin: 25px 20px;

    .menu_item_link {
        &:hover {
            color: #736c6c;
        }
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $text-color;
    }
}

.jumbotron {
    @include breakpoint(small) {
        height: calc(100vh - 158px);
    }
    background: url("https://cdn.pixabay.com/photo/2019/05/20/01/29/samurai-4215748__340.jpg") center/cover;
    width: $full-width;
    height: calc(100vh - 74px);
}

.gallery {
    margin: 10px 0;

    .photo {
        @include breakpoint(small) {
            padding: 0 10px;
            margin: 0;
        }
        width: $full-width;
    }

    .gallery_img {
        @include breakpoint(small) {
            width: $full-width;
            vertical-align: bottom;
            float: none;
            margin: 0;
            padding: 5px 0;
        }
        &.last_image {
            margin-right: 0;
        }
        width: 30%;
        height: $full-height;
        float: left;
        margin-right: 5%;
        object-fit: cover;
    }
}




.map {
    width: $full-width;
}

.foot {
    @extend .head;

    .text {
        padding: 10px;
        text-align: center;
        color: $text-color;
        margin: 0;
    }
}
