@import url(https://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext);
@import 'reset';

@mixin breakpoint ($point) {
    @if $point == small {
        @media (max-width: 768px) {@content;}
    }
    @else if $point == medium {
        @media (min-width: 992px) and (max-width: 1199px) {@content;}
    }
}

$font: "Montserrat", sans-serif;
$margin-center: 0 auto;
$background-color: #000;
$text-color: #fff;

.page {
    font-family: $font;
}

* {
    box-sizing: border-box;
}

.container {
    margin: $margin-center;
    max-width: 1920px;
    width: 100%;
    background-color: $background-color;
    @include breakpoint(small) {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .menu_logo {
        margin: 20px;
        cursor: pointer;
    }

    .menu {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include breakpoint(small) {
            float: none;
        }
    }
}

.head,
.foot {
  margin: $margin-center;
  width: 100%;
}

.menu_item {
    display: inline-block;
    margin: 25px 20px;
    @include breakpoint(small) {
        display: block;
        margin: 0;
        padding-bottom: 10px;
    }
    @include breakpoint(medium) {
        margin: 25px 10px;
    }

    .menu_item_link {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $text-color;
        &:hover {
            color: #736c6c;
        }
    }
}

.jumbotron {
    background: url("https://cdn.pixabay.com/photo/2019/05/20/01/29/samurai-4215748__340.jpg") center/cover;
    width: 100%;
    height: calc(100vh - 74px);
    @include breakpoint(small) {
        height: calc(100vh - 158px);
    }
}

.gallery {
    margin: 10px 0;
}

.photo {
    width: 100%;
}

.gallery_img {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 5%;
    object-fit: cover;
}

.last_image {
    margin-right: 0;
}

.map {
    width: 100%;
}

.text {
    padding: 10px;
    text-align: center;
    color: $text-color;
    margin: 0;
}

@media (max-width: 768px) {

    .container {

    }

    .jumbotron {
        height: calc(100vh - 158px);
    }

    .photo {
        width: 100%;
        padding: 0 10px;
        margin: 0;
    }

    .gallery_img {
        width: 100%;
        vertical-align: bottom;
        float: none;
        margin: 0;
        padding: 5px 0;
    }

    .last_image {
        margin-right: 0;
    }
}
