.page {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    background-color: #000;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.head {
    margin: 0 auto;
    width: 100%;
}

.foot,
.head {
    width: 100%;
    background-color: #000;
    margin: 0 auto;
}

.menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu_item {
    display: inline-block;
    margin: 25px 20px;
}

.menu_item_link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.menu_logo {
    margin: 20px;
    cursor: pointer;
}

.menu_item_link:hover {
    color: #736c6c;
}

.jumbotron {
    background: url("https://cdn.pixabay.com/photo/2019/05/20/01/29/samurai-4215748__340.jpg") center/cover;
    width: 100%;
    height: calc(100vh - 74px);
}

.gallery {
    margin: 10px 0;
}

.photo {
    width: 100%;
}

.gallery_img {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 5%;
    object-fit: cover;
}

.last_image {
    margin-right: 0;
}

.heading_2 {
    text-transform: uppercase;
    color: #d7a419;
    text-align: left;
    padding: 5px;
    margin: 0;
}

.text {
    padding: 10px;
    text-align: center;
    color: #fff;
    margin: 0;
}


@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 100%;
    }
    .menu_item {
        margin: 25px 10px;
    }
}

@media (max-width: 768) {
    .menu_item {
        display: block;
        margin: 25px 20px;
    }
    .container {
        width: 100%;
    }
    .menu_item {
        margin: 25px 10px;
    }
    .gallery_img {
        width: 100%;
        float: none;
    }
}
